.mainNav {
  position: fixed;
  z-index: 11;
  top: 0px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgb(120, 126, 139);
  
}
.logo {
  width: 80px;
}
.navbarr {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  width: 980px;
  /* border: 2px solid rgb(168, 245, 168); */
}

.menu .link {
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
  /* border: 2px solid red; */
}
@media (max-width: 800px) {
 .navbarr{
  margin-left: 0;
 }
}